<div style="height: 50px; width: 100px">
  <app-scan
    [scannerType]="this.env.scanMode"
    (scannedCode)="this.onScannedCode($event)"
  ></app-scan>
</div>
<div *ngIf="this.scannedProducts.length > 0">
  <div *ngFor="let scannedProduct of this.scannedProducts">
    <span>{{ scannedProduct.code }}</span><span>{{scannedProduct.name}}</span><span>{{scannedProduct.price}}</span>
    <button [attr.data-testid]="'remove-action-' + scannedProduct.code" (click)="this.onRemoveProduct(scannedProduct.code)" type="button">
      X
    </button>
  </div>
</div>
